<div class="container p-5">
    <div class="row">
        <div class="col-md-5 p-4">
            <%= image_tag("contact_1.jpg", alt:"Photo 1 Contact Page", width:"350") %>
        </div>
        <div class="col-md-7 pl-3">
            <div class="card-body p-5">
                <h1 class="title">A propos de <span class="text-secondary"><b>LearnIt!</b></span></h1>
                <p class="card-text">Sur la dernière décennie, le nombre d'organismes de formation et de cursus spécialisés a littéralement explosé, mettant les formations digitales ouvertes à tous sur le devant de la scène de l'apprentissage. En parallèle, leur audience a, elle aussi, été multipliée par des chiffres que beaucoup d'autres secteurs rêveraient de pouvoir afficher. Pourtant, entre les suites e-Learning d'entreprise et quelques rares alternatives un peu trop fouillées, il n'existe que très peu de plateformes faisant la part belle au peer-learning et à toute la richesse qu'il peut apporter, lorsqu'il est bien utilisé, mis en place et animé.
                C’est ainsi que nous est venu l’idée de LearnIt! : une plateforme regroupant des ressources sélectionnées par des passionnés, pour des passionnés ayant la soif d’apprendre et de transmettre.</p>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-7 pl-3">
            <div class="card-body p-3">
                <h1 class="title">Comment ça fonctionne ?</h1>
                <p class="card-text">En vous créant un compte sur LearnIt!, vous devenez un membre de notre communauté et avez accès à une quantités de cursus et modules créés par d’autres membres et classés par catégories. Les modules pourront être édités par leur créateur afin d'avoir une richesse de contenus à jour. Chaque membre a également accès à son espace personnel (DashBoard), qui résume ses modules créés, préférés, suivis et terminés. Les membres peuvent également suggérer la modification d'un module à son créateur via un formulaire.</p>
            </div>
        </div>
        <div class="col-md-5">
            <%= image_tag("contact_2.jpg", alt:"Photo 2 Contact Page", width:"450") %>
        </div>
    </div>
</div>



<!-- PARTIE EQUIPE -->

<style>
img {
  border-radius: 5%;
}
</style>

<div class="mt-2 team">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h1 class="title">L'équipe</h1>
            </div>
        </div>
        <br/>
        <div class="d-flex row justify-content-center">
            <div class="col-md-3">
                <div class="col-md-12">
                    <%= image_tag("wilfried.jpg", alt:"Photo Wilfried", width:"200") %>
                    <div class="">
                        <ul class="list-inline">    
                            <li class="list-inline-item">
                                <a href="https://github.com/WilfriedPaillot">
                                    <i class="text-primary bi bi-github" style="font-size:20px;"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/wilfried-paillot/">
                                    <i class="bi bi-linkedin" style="font-size:20px;"></i>
                                </a>
                            </li>   
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="pt-3">
                        <h5 class="title font-medium">Wilfried Paillot</h5>
                        <h6 class="subtitle"><b>The Code Gardener</b></h6>
                        <p class="text">Il cultive le code comme on chérit un bonzaï ou on bouture des orchidées rares, le fait grandir et sait tout faire pousser, en particulier du PHP, du Ruby et du Bootstrap. La légende dit qu'il peut coder des algos hyper stylés sur des arbres N-aires rien qu'en effleurant leurs feuilles.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 m-b-30">
                <div class="row">
                    <div class="col-md-12">
                        <%= image_tag("student_09.jpg", alt:"Photo Yassine", width:"200") %>
                        <div class="">
                            <ul class="list-inline">    
                                <li class="list-inline-item">
                                    <a href="https://github.com/YAROS31">
                                        <i class="text-primary bi bi-github" style="font-size:20px;"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/in/yassinerochd/">
                                        <i class="bi bi-linkedin" style="font-size:20px;"></i>
                                    </a>
                                </li>   
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="pt-3">
                            <h5 class="title font-medium">Yassine Rochd</h5>
                            <h6 class="subtitle"><b>The Cypher</b></h6>
                            <p>Notre "homme du chiffre", expert en Private Equity, en Real Estatet, à ses heures perdues, body builder émérite autant que daily coder pour le front desk des Rotschild, JP Morgan & Co. Quand il n'est pas dans les travaux de l'une de ses nombreuses résidences secondaires, il se balade dans les couloirs du Corail Paris - Toulouse dont il affectionne la voiture bar.</pclass=>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3  m-b-30">
                <div class="row no-gutters">
                    <div class="col-md-12 pro-pic">
                        <%= image_tag("victoria.jpg", alt:"Photo Victoria", width:"200") %>
                        <div class="">
                            <ul class="list-inline">    
                                <li class="list-inline-item">
                                    <a href="https://github.com/Vix00">
                                        <i class="text-primary bi bi-github" style="font-size:20px;"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/in/victoria-fely-050587105/">
                                        <i class="bi bi-linkedin" style="font-size:20px;"></i>
                                    </a>
                                </li>   
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="pt-3">
                            <h5 class="title font-medium">Victoria Fely</h5>
                            <h6 class="subtitle"><b>The Creative</b></h6>
                            <p>Il ne manquait plus qu’une touche féminine avec la Lara Croft du design. Jumpeuse du print au digital sans jamais s’essouffler, aventurière jusqu’au bout elle n’a pas peur d’aller sur le « front ». Junior en la matière, mais motivée « as fuck » elle va cependant affronter les obstacles et tenter le tout pour le tout.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3  m-b-30">
                <div class="row no-gutters">
                    <div class="col-md-12 pro-pic">
                        <%= image_tag("student_07.jpg", alt:"Photo Jean-Baptiste", width:"200") %>
                        <div class="">
                            <ul class="list-inline">    
                                <li class="list-inline-item">
                                    <a href="https://github.com/GibbZ-78">
                                        <i class="text-primary bi bi-github" style="font-size:20px;"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/in/jeanbaptistevidal/">
                                        <i class="bi bi-linkedin" style="font-size:20px;"></i>
                                    </a>
                                </li>   
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="pt-3">
                            <h5 class="title font-medium">Jean-Baptiste Vidal</h5>
                            <h6 class="subtitle"><b>The Amstrad Mastermind</b></h6>
                            <p>Il est tombé dans le code quand il était tout petit. Depuis, il n'a pas beaucoup grandi et a dû faire une désyntox' de 15 ans "no code". Depuis quelques semaines, THPix, le druide du peer-learning lui a permis de reprendre quelques lampées de prog'. Un mystérieux moussaillon aussi appelé The Librarian lui a trouvé 1 ou 2 sites de docs sympas sur Ruby Guides et, jusqu'ici, hormis quelques scaffoldings un peu trop sauvages, tout va bien.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-3 mx-5">
    <a href="#" data-bs-toggle="tooltip" title="Some tooltip text!">
        Haut de page <i class="bi bi-chevron-double-up text-secondary fs-6 fw-light"></i>
    </a>
    <div class="tooltip" role="tooltip">
        <div class="tooltip-arrow">
        </div>
        <div class="tooltip-inner">
            Eyes up!
        </div>
    </div>
</div>
