<!-- BANNER -->

<%= render "layouts/partials/hero_banner_index" %>


<!-- PRESENTATION -->
<!-- Should be in a CSS stylesheet -->

<style>
    .orange_underline{
        text-decoration-line : underline;
        text-decoration-color : rgba(242, 145, 56, 1);
    }
</style> 

<section>
  <%= @go_stripe %>
</section>

<!--Test modal 1 seem to work-->

<section>
  <% if @go_stripe == true %>
  
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Accédez au paiement</h5>
          </div>
          <div class="modal-body">
            Vous allez être redirigé vers votre panier en ligne.
          </div>
          <div class="modal-footer">
            <%= link_to("finalisez votre inscription", checkout_create_path, class:"btn btn-primary btn-lg px-4 me-md-2 text-light", method:"post", remote: true) %>
          </div>
        </div>
      </div>
    </div>

    <script>
      var myModal = new bootstrap.Modal(document.getElementById("staticBackdrop"))
      myModal.show();
    </script>

  <% end %>
</section>

<section class="row justify-content-between mb-5 p-3 m-3">
  <div class="col-12">
        <h1 class="orange_underline">Learn’it, en quelques mots</h1>
        <br>

        <div class="container">
          <div class="row text-center">
            <div class="col-lg-3 col-md-6 col-12 p-0">
              <div class="card-1">
                <div class="card-body">
                    <div class="fs-6 mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
                    <path d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                    </svg>
                    </div>
                  <h5 class="card-title">Apprentissage</h5>
                  <p class="card-text">Apprendre par la pratique, de manière concise et explicite grâce à des expériences d’apprentissage d’autres membres de la communauté.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 p-0">
              <div class="card-2">
                <div class="card-body">
                    <div class="fs-6 mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-broadcast-pin" viewBox="0 0 16 16">
                        <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM6 8a2 2 0 1 1 2.5 1.937V15.5a.5.5 0 0 1-1 0V9.937A2 2 0 0 1 6 8z"/>
                        </svg>
                    </div>
                    <h5 class="card-title">Communauté</h5>
                    <p class="card-text">Une communauté bienveillante pour échanger et communiquer à tout moment, avec d’autres passionnés ayant les mêmes envies d’apprendre que vous.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 p-0">
            <div class="card-3">
              <div class="card-body">
                <div class="fs-6 mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chat-heart" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.965 12.695a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2Zm-.8 3.108.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125ZM8 5.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"></path>
                    </svg>
                </div>  
                <h5 class="card-title">Accessible à tous</h5>
                <p class="card-text">Nos modules sont accessibles gratuitement et quand vous le souhaitez. Chaque membre peut y contribuer à sa manière et partager ses connaissances.</p>
              </div>
            </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12 p-0">
              <div class="card-4">
                <div class="card-body">
                    <div class="fs-6 mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bookmark-star-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
                    </svg>
                </div>
                  <h5 class="card-title">Mise en relation</h5>
                  <p class="card-text">Des cursus recensant les meilleures ressources d’internet, soigneusement sélectionnées par nos membres.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</section>


<!-- PARTIE CURSUS -->

<section class="row justify-content-between mb-5 p-3 pt-6 m-3">
  <div class="container">
        <h1 class="orange_underline">Nos cursus</h1>
         <br>
        <div class="row justify-content-between">


                <div class="card col-3 mx-5">
            
                    <%= image_tag("banner_index.jpg", alt:"...", class:"card-img-top", width:"100%") %>
                    <div class="card-body">
                        <h5 class="card-title">Développement web</h5>
                        <p class="card-text">Un cursus de X modules pour devenir développeur Web et Mobile.</p>
                        <p class="card-text"><small class="text-muted">Plus d'infos</small></p>
                        <br>
                        <br>
                        <p class="card-text"><small class="text-muted">Prochaine session dans 10 jours</small></p>
                    </div>
                </div>

                <div class="card col-3 mx-5">
                    <%= image_tag("banner_index.jpg", alt:"...", class:"card-img-top", width:"100%") %>
                    <div class="card-body">
                        <h5 class="card-title">Ressources humaines</h5>
                        <p class="card-text">Un cursus de X modules pour acquérir les fondamentaux de la gestion des RH en entreprise.</p>
                        <p class="card-text"><small class="text-muted">Plus d'infos</small></p>
                        <br>
                        <p class="card-text"><small class="text-muted">Rejoindre</small></p>
                    </div>
                </div>

                <div class="card col-3 mx-5">
                    <%= image_tag("banner_index.jpg", alt:"...", class:"card-img-top", width:"100%") %>
                    <div class="card-body">
                        <h5 class="card-title">Private equity</h5>
                        <p class="card-text">Un cursus de X modules destiné aux profils financiers, pour maitriser les rouages d’un capital investissement.</p>
                        <p class="card-text"><small class="text-muted">Plus d'infos</small></p>
                        <br>
                        <p class="card-text"><small class="text-muted">Découvrir</small></p>
                    </div>
                </div>

        </div>
        <br>
        <div class="col-3 mx-5">
        <p><a href="">Voir tout <i class="bi bi-chevron-double-right text-secondary fs-6 fw-light"></i></a></p>
        </div>
</section>



<!-- PARTIE TARIF -->

<style>
.color-sample {
  display: block;
  width: 400px;
  height: 250px;
  background-color: rgba(38, 41, 54, 1);
}
</style>

<section class="row justify-content-around mb-5 bg-light_pulpit">
  <div class="col-5 mx-5 my-5 p-5">
    <p class="display-5 text-black">Chez <span class="text-secondary"><b>LearnIt!</b></span>, aucune <br/> mauvaise surprise !</p>
    <p class="display-6 text-black">Un forfait mensuel <br/> pour toutes nos ressources</p>
  </div>
  <div class="col-5 mx-5 my-5 p-5"> 
    <div class="d-flex flex-column bg-primary p-3">
      <div>
        <p class="h4 text-center p-3 text-light">Tarif unique</p>

        <p class="display-5 text-center mt-2 pt-3 p-2 text-light"><b>399€ <small class="h6 text-light">/an</b></small></p>
        <p class="text-center mt-2 pb-2 text-secondary">Sans engagement !</p>
      </div>
      <div class="d-flex justify-content-center mp-1 p-3">
        <%= link_to("Se connecter",new_user_session_path, class:"btn btn-outline-secondary btn-lg px-4 me-md-2 text-light", method:"get") %>
      </div>
    </div> 
  </div>
</section>



<!-- PARTIE AVIS -->


<section>
	<div class="container">
	    <span class="space-xs-xl"></span>
	    <div class="row cols-xs-space cols-md-space cols-lg-space">
			<div class="col-lg-4">
				<div class="card card-blockquote">
					<div class="card-body">
						<div class="block-author">
							<div class="author-image">
              <%= image_tag("student_01.jpg", alt:"Pic Student 01", class:"rounded", width:"60") %>
							</div>
							<div class="author-info">
								<span class="d-block mt-1"><b>Jérôme Pichenot</b></span>
								<span class="small">Membre depuis </span>
							</div>
						</div>
                <p class="mt-4 line-height-1_8">
                Une plateforme au-delà de mes attentes. C'est intuitif, riche, complet, je recommande !
					      </p>
				    </div>
				</div>
			</div>

      <div class="col-lg-4">
				<div class="card card-blockquote">
					<div class="card-body">
						<div class="block-author">
							<div class="author-image">
              <%= image_tag("student_04.jpg", alt:"Pic Student 04", class:"rounded", width:"60") %>
							</div>
							<div class="author-info">
								<span class="d-block mt-1"><b>Alexandra Ginova</b></span>
								<span class="small">Membre depuis </span>
							</div>
						</div>
                <p class="mt-4 line-height-1_8">
                Grâce à LearnIt! j'ai pu aboutir ma reconversion professionnelle avec succès tout en faisant mes propres choix à mon rythme.
					      </p>
				    </div>
				</div>
			</div>

      <div class="col-lg-4">
				<div class="card card-blockquote">
					<div class="card-body">
						<div class="block-author">
							<div class="author-image">
              <%= image_tag("student_05.jpg", alt:"Pic Student 05", class:"rounded", width:"60") %>
							</div>
							<div class="author-info">
								<span class="d-block mt-1"><b>Carl Philip</b></span>
								<span class="small">Membre depuis </span>
							</div>
						</div>
                <p class="mt-4 line-height-1_8">
                Très cool ! Je suis mes choix préférés quand je le souhaite et en plus c'est pas cher.
					      </p>
				    </div>
				</div>
			</div>
</section>


<!-- PARTIE PARTNERS -->

<section class="row justify-content-between my-5 mt-5">
  <div class="text-center">
    <p class="orange_underline">Ils reconnaissent la qualité de nos formations</p>
    <div class="d-flex justify-content-around mt-5">
      <div class="col-md-2">
        <a href="https://about.google/">
          <%= image_tag("google_logo.png", alt:"Logo Google", width: "200") %>
        </a>
      </div>
      <div class="col-md-2">
        <a href="https://www.thehackingproject.org/">
          <%= image_tag("thp_logo.png", alt:"Logo THP", width: "200") %>
        </a>
      </div>
      <div class="col-md-2">
      <a href="https://www.investprep.fr/">
        <%= image_tag("Invest_Prep_logo.png", alt:"Formation Private Equity Invest Prep", width: "200") %>
      </a>
    </div>
      <div class="col-md-2">
        <a href="https://fr.wikipedia.org/wiki/Mammouth_(hypermarch%C3%A9)">
          <%= image_tag("mammouth_logo.png", alt:"Logo Mammouth", width: "200") %>
        </a>
      </div>
    </div>
  </div>
</section>