<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour Administrateur de LearnIt!</h1>
    <p>Vous avez reçu une nouvelle demande de contact que voici :</p>
    <ul>
        <li>Prénom : <%= @myfirstname %> </li>
        <li>Nom : <%= @mylastname %> </li>
        <li>Mail : <%= @myemail %> </li>
        <li>Objet : <%= @myobject %> </li>
        <li>Message : <%= @mymessage %> </li>
    </ul>
    <p>Bonne journée sur LearnIt!</p>
  </body>
</html>