<section class="devise_form">
  <div class="row">
    <div class="col-md-4 bg-primary">
      <div class="row my-5">
        <h2 class="text-center text-light_pulpit">Bienvenue sur LearnIt</h2>
      </div>
        <div class="wrapper">
          <div class="d-flex flex-column justify-content-around align-items-center text-light_pulpit h-100">
            <p class="text-center text-light_pulpit my-2 px-4 fs-4 ">L'application qui nous fait apprendre tous les jours de tout et de tous!</p>
          </div>
        </div>

        <div class="row">
          <div class="text-center my-3 my-md-5">
            <%= link_to 'Se connecter', new_user_session_path	, class: 'btn btn-outline-secondary' %>
            <%= link_to "S'inscrire", new_user_registration_path, class: 'btn btn-outline-secondary' %>
          </div>
        </div>
    </div>

    <div class="col-md-8 bg-light_pulpit">
      <div class="row my-5">
        <h2 class="text-center text-primary">Rejoins nous vite</h2>
      </div>
      
      <div class="wrapper">
        <div class="d-flex flex-column justify-content-center align-items-center text-primary h-100">
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field text-center text-primary">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control my-2', placeholder: "Email" %>
              </div>
        </div>
      </div>

      <div class="row">
        <div class="actions text-center my-3 my-md-5">
          <%= f.submit "Réinitialiser le mot de passe", class: 'btn btn-neon_carrot' %>
        </div>
      </div>
          <% end %>
    
    </div>

  </div>
</section>




