<footer class="container-fluid bg-primary mt-3">
  <div class="row-cols-1 text-center py-2 rounded">
    <%= link_to(root_path, class:"navbar-brand ms-3 me-5", method:"get") do %>
      <%= image_tag("learnit_logo_black.png", height:"60px", alt:"LearnIt! - Logo of THE peer-learning web site that condensates the best of all worlds!") %>
    <% end %>
  </div>

  <div class="row navbar-dark">
    <div class="col-md-6 col-lg-4 d-flex flex-column text-center mt-n4 mt-md-3">
      <h4 class="text-light">Menu</h4>
      <ul class="navbar-nav text-align-center">
        <li class="nav-item"><%= link_to 'Menu principal', root_path, class: 'nav-link'%></li>
        <%if user_signed_in?%>
        <li class="nav-item">
          <%= link_to 'Tous les cours', themes_path, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Mon dashboard', root_path, class: 'nav-link'%>
        </li>
        <%end%>
      </ul>
    </div>
    <div class="col-md-6 col-lg-4 d-flex flex-column text-center mt-2 mt-md-3">
          <h4 class="text-light">Informations pratiques</h4>
          <ul class="navbar-nav text-align-center">
            <li class="nav-item"><%= link_to 'Contact', contact_path, class: 'nav-link'%></li>
            <li class="nav-item"><%= link_to 'Mentions légales', root_path, class: 'nav-link'%></li>
            <li class="nav-item"><%= link_to 'Politique de confidentialité', root_path, class: 'nav-link'%></li>
          </ul>
    </div>
    <div class="col-md-6 col-lg-4 d-flex flex-column text-center mt-4 mt-md-3">
      <h4 class="text-light">Suivez-nous</h4>
      <div class="d-flex flex-row justify-content-center">
        <ul class="navbar-nav text-align-center mx-2">
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link' do%>
              <i class="bi bi-facebook"></i>
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link' do%>
              <i class="bi bi-instagram"></i>
            <%end%>
          </li>
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link' do%>
              <i class="bi bi-twitter"></i>
            <%end%>
          </li>
        </ul>
        <ul class="navbar-nav text-align-center mx-2">
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link' do%>
              <i class="bi bi-linkedin"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link' do%>
              <i class="bi bi-tiktok"></i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to root_path, class: 'nav-link' do%>
              <i class="bi bi-snapchat"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 text-center mt-2">
      <p class="text-light">
        &copy; 2022 LearnIt!
      </p>
      <p class="text-light fst-italic">
        Made with <i class="bi bi-heart-fill"></i> by <%= link_to 'us', root_path %>
      </p>
    </div>
  </div>
</footer>