<div class="col-md-4 col-lg-3 mb-3"> 
  <div class="card bg-primary text-light">
    <%= image_tag('code_bg.jpg', alt: "Background code theme card", class: 'card-img-top') %>
    <div class="card-body mt-2">
      <h5 class="card-title"><%= theme.title %></h5>
      <p class="card-text my-4">
        Un cursus de <%= theme.chapters.length %> modules.</br>
        <%= theme.content.truncate(60,separator:" ") %>
      </p>
    </div>
    <div class="card-footer">
    <div class="d-flex justify-content-between align-items-center">
      <%if season.is_ended?%>
        <p>Session terminée !</p>
      <%elsif season.is_joinable?%>
        <div id="arrow" class="col-4">
          <%= link_to dashboard_student_path+"?theme=#{theme.id}&season=#{season.id} ", remote: true do %>
            <i id="theme_<%=theme.id%>" class="bi bi-caret-right-fill fs-1 text-secondary"></i>
          <%end%>
        </div>
        <div id="session_infos" class="col-8">
          <span class="align-middle">Poursuivre</span>
        </div>      
      <%else%>
        <div id="arrow" class="col-4">
          <%= link_to dashboard_student_path+"?theme=#{theme.id}", remote: true do %>
            <i id="arrow_button" class="bi bi-caret-right-fill fs-1 text-secondary"></i>
      <%end%>
        </div>
        <div id="session_infos" class="col-8">
          <span class="align-middle">Débute dans <%= season.start_in? %> jours</span>
        </div>
      <%end%>
    </div>
    </div>
  </div>
</div>