<!DOCTYPE html>
<html>
  <head>
    <title>LearnIt!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render("layouts/partials/header") %>  <!-- Including the "header" partial, i.e. a sticky navbar with "Learn It!" logo -->
    <main class="container-fluid mx-5">       <!-- Adding a "main" container taking almost all the width of the page (except 5 pixels; left and right) -->
      <%= yield %>
    </main>
    
  </body>
</html>
